@page
@model Academic_Blog_App.Pages.AjaxPage.AjaxHandelModel
@{
}
<div class="body_bg layout_padding" style="padding: 40px;">
    <section class="service_section">
        <div class="container">
            <div class="box text-center" style="width: 100% !important">
                <h2 style="margin: 20px 0; font-weight: bold;">This Page Use To Handel Ajax Request</h2>          
            </div>
        </div>
    </section>
</div>