@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    var Error = ViewData["Error"]?.ToString();
    var PageName = ViewData["PageName"]?.ToString();
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Error occur why calling server <strong>@PageName</strong> environment displays detailed information about the error that occurred.
</p>
<p>
    <strong>Error</strong>
    <h3>@Error</h3>
</p>
