@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<body>
<div class="hero_area" style="height: 100vh !important">

    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <div>
                                        <h1>
                                            Welcome To <br>
                                            <span>
                                                FPT Blog Communities
                                            </span>
                                        </h1>
                                        <p>
                                            This is a website to share your knowledge
                                        </p>
                                        @if(Model.LoginResponse == null) {
                                        <div class="btn-box">
                                                    <a href="/HomePage/Login" class="btn-1">
                                                Login
                                            </a>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <div>
                                        <h1>
                                            Welcome To <br>
                                            <span>
                                                FPT Blog Communities
                                            </span>
                                        </h1>
                                        <p>
                                            Knowledge is a super power!
                                        </p>
                                        <div class="btn-box">
                                            <a href="/HomePage/Login" class="btn-1">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>

<div class="body_bg layout_padding">
    <!-- service section -->

    <section class="service_section ">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Newest Blogs
                </h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="box" style="width: 100% !important">
                    <div class="img-box">
                        <img src="images/s-1.png" alt="">
                    </div>
                    <h4>
                        Written with Love
                    </h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                        of
                        letters, as opposed to using 'Content here, content t,
                    </p>
                </div>
                <div class="box" style="width: 100% !important">
                    <div class="img-box">
                        <img src="images/s-2.png" alt="">
                    </div>
                    <h4>
                        Fast Turnaround
                    </h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                        of
                        letters, as opposed to using 'Content here, content here', making it look like
                    </p>
                </div>
                <div class="box" style="width: 100% !important">
                    <div class="img-box">
                        <img src="images/s-3.png" alt="">
                    </div>
                    <h4>
                        Up to Date
                    </h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                        of
                        letters, as opposed to using 'Content here, content here', making it look like now use Lorem Ipsum as
                        their default model text,
                    </p>
                </div>
                <div class="box" style="width: 100% !important">
                    <div class="img-box">
                        <img src="images/s-4.png" alt="">
                    </div>
                    <h4>
                        Premium Content
                    </h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                        of
                        letters, as opposed to using 'Content here, content here', making it look like
                    </p>
                </div>
            </div>
            <section class="quote_section">
                <div class="box" style="width: 100% !important">
                    <div class="btn-box">
                        <a href="/BlogPage/ViewAllBlog">
                            Read more
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- end service section -->

</div>
</body>